nav a {
    margin: 0 10px;
    border: 1px solid lightgray;
    padding: 20px;
    display: inline-block;
    border-radius: 20px;
    color: black;
    text-decoration: none;
}

nav #plan {
    background-color: #FF764E;
    }

nav #learn {
    background-color: #5ED3EB;
    }

nav #involve {
    background-color: #FFCD69;
    }

/*H1 Header area YOSEMITE PARK GUIDE */
 p .involved {
    margin: 10px;
    padding: 20px;
    font: Ch
 }


/*About Section: NOT JUST A GREAT VALLEY...*/



/*Invovled Section*/